@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions;
<!DOCTYPE html>
<html>
<head>
    @Html.Sitecore().VisitorIdentification()
    @Html.Sitecore().Placeholder("metaData")
</head>
<body>

</body>
</html>
