<!-- Teams -->
<section class="page-section bg-primary" id="teams">
    <div class="container">
        <h3>@Html.Sitecore().Field("Team Name")</h3>
        <p>@Html.Sitecore().Field("Slogan")</p>
        <p>@Html.Sitecore().Field("Repository Name")</p>        
        <div>
            <h4>Team members:</h4>

        </div>
    </div>
</section>
