@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions;
@using Sitecore.ExperienceForms.Mvc.Html

@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var x = 1;

}

<h1>djfbhaskhjfhbhdf</h1>
